 <style>

    .thumbnail
    { 
      height: auto;
      width: 100%;
      border-radius: 12px;
      margin-bottom: 12px;
      display: block;
    }

    .channelprofile
     {height: 30px;
      border-radius: 20px;
      }
     
     .videotitle
     {
       margin-top: 0;
       margin-bottom: 0;
       font-size: 14px;
       font-weight: 700;
     }
     .videoauthor
     {
        margin-top: 2px;
       margin-bottom: 0;
       font-size: 14px;
       font-weight: 500;
     }
     .videostats
     {
        margin-top: 0;
       margin-bottom: 0;
       font-size: 14px;
       font-weight: 500;
     }
     .thumbnailstats
      {
        display: inline-block;
       
        margin-left: 7px;
      }
    .thumbnailrow
    {
      display: flex;
      align-items: flex-start;
    }
    
      .wholethumbnail
      { width: 100%;
        position: relative;  
        cursor: pointer;
        transition: filter 0.2s;
      }
      .wholethumbnail:hover
      {
       filter: brightness(0.6);
       }
       .wholethumbnail:active
       {
        transform: scale(0.96);
       }
    .videos
      {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        column-gap: 16px;
        row-gap: 40px;

      }
      
      .videotime
      {
        position: absolute;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        bottom: 80px;
        right: 8px;
        padding-left: 4px;
        padding-bottom: 1px;
        padding-right: 4px;
        padding-top: 1px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 4px;
        cursor: pointer;
    }
     .videotime1
     { 
       position: absolute;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        bottom: 80px;
        right: 8px;
        padding-left: 4px;
        padding-bottom: 1px;
        padding-right: 4px;
        padding-top: 1px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 4px;
        cursor: pointer;
     }
        .videotime2
        {
            position: absolute;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        bottom: 98px;
        right: 8px;
        padding-left: 4px;
        padding-bottom: 1px;
        padding-right: 4px;
        padding-top: 1px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 4px;
        cursor: pointer;
        }
        .videotime3
        {
            position: absolute;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        bottom: 98px;
        right: 8px;
        padding-left: 4px;
        padding-bottom: 1px;
        padding-right: 4px;
        padding-top: 1px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 4px;
        cursor: pointer; 
        }
        .videotime4
        {
            position: absolute;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        bottom: 98px;
        right: 8px;
        padding-left: 4px;
        padding-bottom: 1px;
        padding-right: 4px;
        padding-top: 1px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 4px;
        cursor: pointer; 
        }
        .videotime5
        {
             position: absolute;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        bottom: 98px;
        right: 8px;
        padding-left: 4px;
        padding-bottom: 1px;
        padding-right: 4px;
        padding-top: 1px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 4px;
        cursor: pointer;
        }
        .link
        {
          text-decoration: none;
          color: inherit;
        }
  </style>

<style>
 
 .header
 {
    display: flex;
    justify-content: space-between;
    height: 56px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: white;
 }
 .left
 {
    
    width: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 .middle
 {
    
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    
 }
 .right
 {
   
    width: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center
 }
 .searchbar
{
    height: 36px;
    display: flex;
    max-width: 580px;
    min-width: 200px;
    width: 100%;
    border-radius: 20px;
    border-color: rgb(219, 216, 216);
    padding-left: 16px;
    font-size: 16px;

}
.searchbar::placeholder
 {
    font-size: 16px;
    border-color: rgb(219, 218, 218);
}
.hamburgermenu
{
   height: 22px;
   cursor: pointer;
}
.hamburgermenu:active
 {
    transform: scale(0.96);
 }
.youtubelogo
{
    height: 22px;
    cursor: pointer;
}
.youtubelogo:active
{
     transform: scale(0.96);
}
.upload
{
     height: 22px;
     cursor: pointer;

}
.youtubeapps
{
     height: 22px;
      cursor: pointer;
}
.notifications
{   
    height: 22px;
     cursor: pointer;
}
.T
{
    height: 22px;
    border-radius: 22px;
     cursor: pointer;
}
.searchbuttonimg
 {
    height: 22px;
    padding-top: 5px;
    width: 30px;
    border-color: rgb(219, 216, 216);

 }
.searchbutton
{
    height: 36px;
    border-radius: 0px 20px 20px 0px; 
    margin-left: -50px;
    width: 60px;
    border-color: rgb(219, 216, 216);
     cursor: pointer;

}
.voicesearch
{
    height: 36px;
    width: 36px;
    margin-left: 20px;
    border-radius: 18px;
    border-color: rgb(219, 219, 219);
     cursor: pointer;

}

.voicesearchimg
{
     height: 22px;
    padding-top: 5px;
    
}
.notifications:active
{
    transform: scale(0.96)
}
 .youtubeapps:active
   {
    transform: scale(0.96)
   }
 .upload:active
    {
        transform: scale(0.96)
    } .T:active
    {
        transform: scale(0.96)
    }
{
  transform  scale (0.96);   
}
 .notificationdiv
 {
    position: relative;
 }
 .notificationnum
 {  
    position: absolute;
    color: white;
    background-color: rgb(171, 1, 1);
    font-size: 10px;
    right: -3px;
    top: -5px;
    border-radius: 10px;
    padding: 1px 5px 2px 5px;
 }
</style>

<style>
    .sidebar
    {
        position: fixed;
        left: 0;
        top: 56px;
        width: 180px;
        bottom: 0;
        z-index: 200;
        background-color: white;
    }
    .homebutton:active
    {
      transform: scale(0.96);
    }
    .sidebarbuttonsimg
    {
        height: 26px;
        padding-left: 10px;
        padding-right: 20px;
    }
    
    .sidebarbuttonsp
    {
        width: 100%;
        font-size: 15px;
        text-align: left;

    }

        
    .homebutton
    {
        height: 45px;
        
        width: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: none;
        cursor: pointer;
        transition: background-color 0.15s;
    }
    .homebutton:hover
     {
       background-color: rgb(205, 201, 201);
     }

</style>
